/* INDEX.CSS 1.0 mars 2021 by Alexandre CHARLIER  */

.blue-color{color :#0065FC;} 
.blue-light-color  { background-color :#DEEBFF;}
.grey-color{background-color : #F2F2F2;}



html,body{font-family: 'Raleway', sans-serif; font-size:15px; width :100%; margin:0;padding:0;}
html {overflow-x: hidden;}
h1 {font-size:25px; font-weight:1000; margin:0 0 7px 0;}
h2 {font-size:20px; font-weight:300; margin:0;}
h3 {font-size:22px; font-weight:700; margin:0;}
h4, h5 {font-size: 15px; font-weight:800; margin:0;}
a { text-decoration : none;  } 
li {list-style : none;}
p{margin:0; padding:0;}


/* Header */

header{width:100%; height :128px; margin :0 0 30px 0; }
.container-menu-nav{ 
    margin-block-start:0px;
    padding-inline-start: 0px;
    display:grid;
    grid-template-columns : 50% 50%;  
    grid-template-rows : 64px 64px;
    align-items : center;
}
.container-menu-nav > a:hover{ border-bottom-color :#0065FC;; color :#0065FC;} 
.element-menu{height: 56px; line-height : 64px; border-top-color:transparent; border-bottom-color: #F2F2F2;;}
.item-a{padding :0 20px; align-content:center;}
.item-b{padding:0 20px; text-align:right; color :#0065FC;}
.item-c,.item-d{text-align:center; border-style:solid; border-width :3px 0; color:black;}
.logo{ padding-top:8px; width :97px; height:45px;}

/* main */

/* Container Search*/

.container-search{ width :100%; height :510px; margin :0 0 30px 0; }
.content-search{margin:0 5%;}

.label{ padding:7px 0;}
.search-bar{width: 98%; height :50px; margin:25px 0 25px 0; padding :0; display :grid; grid-template-columns: 52px auto 52px; justify-items:stretch;
    border:2px solid #F2F2F2; border-radius:20px; background-color :white}
.button-map{ width:54px; height:54px;  margin:-2px 0 0 -2px;   text-align:center;
    line-height: 54px; border-style :solid; border-width :2px; border-color:#F2F2F2;
     border-radius:20px 0 0 20px;}
.fa-map-marker-alt{ font-size:20px;}
.input-text{ width:90%; height :50px;padding:0; border :0; margin :0 auto; font-size :25px;}
.button-search{ width:54px; height:54px;  margin-top: -2px;margin-left:2px;
    border-style :solid; border-width :2px; border-color:#0065FC; border-radius:20px;
     background-color:#0065FC;}
.button-search >i{color:white; font-size:20px;}
.button-search > span{display:none;}

.filter{ width:100%; height :auto; display:block; margin-bottom:6px;}
.filter>h2{ display:block; text-align:left; margin:7px 12px 7px 0;}
.list-filtres{ width:100%; display:flex; flex-wrap: wrap; margin-bottom:22px;}
.items-filter{ height:46px; border: 2px solid #DEEBFF; border-radius:23px; margin:6px 12px 6px 0;}
.itemFilter1{ width:170px; }
.itemFilter2{width:134px; }
.itemFilter3{width:170px; }
.itemFilter4{width:216px; }
.icon-filter{width:46px; height: 46px; margin-top :-2px; margin-left: -2px; text-align:center; line-height: 46px;
    border: 2px solid #DEEBFF; border-radius:23px; color:#0065FC; font-size:20px; display:inline-block;}
.text-filter{ display:inline; padding:0 10px; font-size:15px; }
.information{ height:24px; display :flex; flex-direction:row; line-height: 24px; }
.icon-information{ width:26px; text-align:center; border: 1px solid #DEEBFF; border-radius:13px;
    color:#0065FC; font-size:12px; display:inline-block;}
.text-information{ padding-left :10px;}






.container-middle{
    width :100%;
    margin:0 0 30px 0;
    background-color: yellow;
}
.container-popular{
    width : 100%;
    height: 580px;
    
    margin: 0 0 30px 0;
    background-color: #F2F2F2;
}
.content-popular{
    padding-top:40px;
    margin:0 5%;
}
.container-hebergement{
    width : 100%;
    height :1380px;
    margin: 0 0 30px 0 ;
    background-color:green;
}

.content-hebergement{
    margin:0 5%;
}

.container-activity{
    width : 100%;
    height :1350px;
    background-color:rgb(0, 124, 128);
}
.content-activity{
    margin:0 5%;
}

footer{
    width:100%;
    height:485px;
    background-color: #F2F2F2;
}

.content-footer{
    margin :0 8%;
}



@media screen and (min-width:768px){

/* Header */
.container-menu-nav{
    padding:0 50px;
    margin-right:0;
    grid-template-columns :  auto 162px 148px 128px; 
    grid-template-rows : 128px;
    }

.container-menu-nav > a:hover{ border-top-color :#0065FC;; border-bottom-color:transparent;} 
.element-menu{ height: 120px; line-height : 120px; border-bottom-color: transparent; grid-row: 1;}
.item-a{grid-column : 1 / 2; padding :0;}
.item-b{text-align :center; grid-column : 4 / 5; padding :0;}
.item-c{grid-column : 2 / 3; border-width :3px 0;}
.item-d{grid-column : 3 / 4; border-width :3px 0 ;}
.logo{padding-top :40px;}

/* Container Search*/
.container-search{  height :280px; margin :0 0 30px 0; }
.search-bar{width: 419px; height :50px;  margin-top :7px;grid-template-columns: 53px 234px 132px;}
.button-search{width:132px; color:white; font-size :20px;border-radius:0 20px 20px 0}
.button-search >i{display :none;}
.button-search > span{display:inline;}
.filter{width :100%; display:flex; flex-direction: row; }
.filter>h2{ align-self:center;}
.list-filtres{ width:100%;}



}