.search-bar {
  /*     width: 98%; */
  max-width: 430px;
  box-sizing: border-box;

  height: 54px;
  margin: 25px 0 25px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 52px auto 52px;
  justify-items: stretch;
  border: 2px solid var(--color-grey);
  border-radius: 20px;
  background-color: var(--color-white);
}
.button-map {
  width: 54px;
  height: 54px;
  margin: -2px 0 0 -2px;
  text-align: center;
  line-height: 54px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-grey);
  border-radius: 20px 0 0 20px;
}
.button-map:focus {
  outline: none;
}
.fa-map-marker-alt {
  font-size: 20px;
}
.label-search {
  width: 50px;
}
.input-text {
  width: 90%;
  height: 50px;
  padding: 0;
  border: 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-black);
}

.button-search {
  width: 54px;
  height: 54px;
  margin-top: -2px;
  /* margin-left: 2px; */
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-blue);
  border-radius: 20px;
  background-color: var(--color-blue);
}
.button-search:focus {
  outline: none;
}
.fa-search {
  color: var(--color-white);
  font-size: 20px;
}
.button-search__text {
  display: none;
}

@media screen and (min-width: 1200px) {
  .search-bar {
    /*  width: 419px;
    height: 50px; */
    margin-top: 7px;
    grid-template-columns: 53px 234px 132px;
  }
  .button-search {
    width: 132px;
    color: var(--color-white);
    font-size: 20px;
    border-radius: 0 20px 20px 0;
  }

  .fa-search {
    display: none;
  }
  .button-search__text {
    display: inline;
  }
}
