

.card-populaire{
    display:grid;
    grid-template-columns :37% 63%;
    grid-template-rows :133px;
    justify-items:stretch;
    margin-bottom:10px;
    border:6px solid white;
    border-radius:20px;
    background-color:white;
}

.card-populaire__photo{
    align-self :stretch;
    object-fit:cover;
    border-radius :15px 0 0 15px;   
}

.card-populaire__legend{
    position:relative;
    padding: 0 20px;
    height :113px;
    align-self: center;
}

.card-populaire__price{
    padding-top:10px;
}

.card-populaire__etoile{
    position:absolute;
    bottom:0px;
    color:var(--color-blue);
}


@media screen and (min-width:768px){

}